// Variables

// Breakpoints
$bp-xs: 0 !default;
$bp-sm: 544px !default;
$bp-md: 768px !default;
$bp-lg: 992px !default;
$bp-xl: 1200px !default;

// Colors

$blue: #069;
$navy: #01b;
$aqua: #86f2fe;

$black:        #000;
$white:        #fff;

:root {
	--brand-primary: #f7f7f7;
	--brand-secondary: #384345;
	--brand-secondary-rgb: 56, 67, 69;
	--brand-tertiary: #b2b2e6;
	--content-primary:#262320;
	--content-primary-rgb: 38, 035, 32;
	--content-secondary: #fbfaf6;

	--border: #dcdcf4;
	--btn-border: var(--brand-tertiary);
	--btn-label: var(--brand-primary);
	--btn-hover-bg: #efeffa;
	--btn-hover-border: var(--brand-primary);
	--btn-focus-rgb: 56, 13, 117;
	--btn-selected-bg: var(--brand-primary);
	--btn-selected-border: var(--brand-primary);
	--btn-selected-label: var(--content-secondary);
	--html-tag: #e40088;
}

.dark {
	--content-primary:#fff;
	--content-primary-rgb: 255, 255, 255;
	--content-secondary: #12121b;
	
	--border: #303048;
	--btn-border: #48486d;
	--btn-label: var(--brand-tertiary);
	--btn-hover-bg: var(--brand-secondary);
	--btn-hover-border: var(--brand-tertiary);
	--btn-focus-rgb: 178, 178, 230;
	--btn-selected-bg: var(--brand-tertiary);
	--btn-selected-border: var(--brand-tertiary);
	--btn-selected-label: var(--content-secondary);
	--html-tag: #ff28a8;
}

// Typography
$font-sans-serif: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif !default;

$font-size-sm: 0.875rem;
$measure: 44rem;

// Headings
// For the system of .h1-.h6 classes to properly overwrite the base tag, you must include all properties transformed
// at every breakpoint, even if those properties are the default or assigned at an earlier breakpoint.
$h1-properties: (
  text-transform: none,
  $bp-xs : (
    font-size : 2rem,         // 32px
    line-height : 1,          // 32px
    margin-bottom : 1rem      // 16px
  ),
  $bp-sm : (
    font-size : 2.5rem,       // 40px
    line-height : 1,          // 40px
    margin-bottom : 1.5rem    // 24px
  ),
  $bp-md : (
    font-size : 3rem,         // 48px
    line-height : 1,          // 48px
    margin-bottom : 2rem      // 32px
  ),
  $bp-lg : (
    font-size : 3rem,         // 48px
    line-height : 1,          // 48px
    margin-bottom : 2rem      // 32px
  )
) !default;

$h2-properties: (
  $bp-xs : (
    font-size : 1.5rem,       // 24px
    line-height : 1.25,       // 30px
    margin-bottom : 1.125rem  // 18px
  ),
  $bp-sm : (
    font-size : 1.75rem,      // 28px
    line-height : 1,          // 28px
    margin-bottom : 1.25rem   // 20px
  ),
  $bp-md : (
    font-size : 2rem,         // 32px
    line-height : 1,          // 32px
    margin-bottom : 1.125rem  // 18px
  ),
  $bp-lg : (
    font-size : 2rem,         // 32px
    line-height : 1,          // 32px
    margin-bottom : 1.125rem  // 18px
  )
) !default;

$h3-properties: (
  text-transform: none,
  $bp-xs : (
    font-size : 1.25rem,      // 20px
    line-height : 1.4,        // 28px
    margin-bottom : 0.625rem
  ),
  $bp-sm : (
    font-size : 1.375rem,     // 22px
    line-height : 1.091,      // 28px
    margin-bottom : 0.625rem
  ),
  $bp-md : (
    font-size : 1.5rem,       // 24px
    line-height : 1.273,      // 28px
    margin-bottom : 0.625rem
  ),
  $bp-lg : (
    font-size : 1.5rem,       // 24px
    line-height : 1.273,      // 28px
    margin-bottom : 0.625rem
  )
) !default;

$h4-properties: (
  text-transform: none,
  $bp-xs : (
    font-size : 1rem,         // 16px
    line-height : 1.5,        // 24px
    margin-bottom : 1.5rem    // 24px
  ),
  $bp-sm : (
    font-size : 1rem,         // 16px
    line-height : 1.5,        // 24px
    margin-bottom : 1.5rem    // 24px
  ),
  $bp-md : (
    font-size : 1.125rem,     // 18px
    line-height : 1.375,      // 22px
    margin-bottom : 1.25rem   // 20px
  ),
  $bp-lg : (
    font-size : 1.125rem,     // 18px
    line-height : 1.375,      // 22px
    margin-bottom : 1.25rem   // 20px
  )
) !default;

$h5-properties: (
  letter-spacing: 0.01em,
  text-transform: none,
  $bp-xs : (
    font-size : 0.875rem,     // 14px
    line-height : 1.429,      // 20px
    margin-bottom : 0.25rem,  // 4px
  ),
  $bp-sm : (
    font-size : 0.875rem,     // 14px
    line-height : 1.429,      // 20px
    margin-bottom : 0.25rem,  // 4px
  ),
  $bp-md : (
    font-size : 1rem,         // 16px
    line-height : 1.5,        // 24px
    margin-bottom : 0,        // none
  ),
  $bp-lg : (
    font-size : 1rem,         // 16px
    line-height : 1.5,        // 24px
    margin-bottom : 0,        // none
  )
) !default;

$h6-properties: (
  text-transform: none,
  $bp-xs : (
    font-size : 0.875rem,     // 14px
    line-height : 1.429,      // 20px
    margin-bottom : 0.25rem,  // 4px
  ),
  $bp-sm : (
    font-size : 0.875rem,     // 14px
    line-height : 1.429,      // 20px
    margin-bottom : 0.25rem,  // 4px
  ),
  $bp-md : (
    font-size : 1rem,         // 16px
    line-height : 1.5,        // 24px
    margin-bottom : 0,        // none
  ),
  $bp-lg : (
    font-size : 1rem,         // 16px
    line-height : 1.5,        // 24px
    margin-bottom : 0,        // none
  )
) !default;
